@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    font-family: Roboto,sans-serif;
    margin:0px
}
header{
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    z-index: 1000;
}
.back-header{
    position: relative;
}
.back-arrow{
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}
.logo{
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
}
.main-photo{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}
/*main*/
.main-menu{
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
}
.menu-title{
    font-family: Shrikhand,"cursive";
}

.menu-btn .fas{
    position: absolute;
    color: transparent;
    background-image: linear-gradient(0deg,#9356dc,#ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    top:21px;
    right:30px;
    opacity: 0;
    transition: 1s;
    font-size: 33px;
}
.menu-btn .fas:hover{
    opacity: 1;
}
.far{
    position: absolute;
    right: 31px;
    top: 23px;
    font-size: 30px;
}

.submenu{
    display: grid;
}

.submenu-food {
    max-width: 100%;
    overflow: hidden;
    padding: 8px 1rem;
}
.submenu-title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
}
.submenu-title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}
.menuitem-title{
    margin-top: -3px;
    margin-bottom: 5px;
   
}
/*khodem*/
.menu-category{
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    animation: appear 1s;
}
.menu-item{
    display: flex;
    overflow: hidden;
    animation: appear 1s;;
    
}
.menu-description{
    padding:14px;
}
.menu-check{
   background-color:  #99e2d0;
   border-radius: 0 12px 12px 0;
   margin-right: -6rem;
   width: 5rem;
   transition: all 1s;
 
}

 .menu-item:hover{
    margin-right: 6rem;
    overflow: visible;

}
.menu-price{
    margin-left: auto;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    padding: 14px 30px 14px 5px;
    
}.food-discription{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*animation*/
@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/*.delay-0{
    -o-animation-delay: 0s;
}

.menu-item {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}*/

/*.validation{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}
.wrapicon{
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}
.wait-1{
    animation-delay: .1s ;
}


.wait-1 {
    animation-delay: .1s;
}
.menuitem {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}*/
/*commander*/
.commande{
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}
.explorebtn{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(
0deg,rgba(147,86,220,.9),rgba(255,121,218,.9)); transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
    
}
.explorebtn:hover{
    cursor: pointer;
    transform: scale(1.02);
    opacity: 0.9;
}

/*footer*/
.end-footer{
    background-color: #353535;
}
.end-footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer-logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
}
.food-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-li{
        margin: .5rem 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}
.footer-icon {
    width: 1.2rem;
    margin-right: .5rem;
}